body {
    background-color: aqua;
}

@media only screen and (max-width: 2000px) {
    body {
        background-color: white;
    }
    .container {
        display: flex;
        flex-direction: row;
    }
    a {
        position: absolute;
        width: 150px;
        height: 25px;
        left: 77px;
        top: 40px;
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #333333;
    }
    .container--image img {
        position: absolute;
        left: 5.35%;
        right: 57.21%;
        top: 24.54%;
        bottom: 34.03%;
        height: 60%;
        width: 30%;
    }
    h1 {
        position: absolute;
        width: 586px;
        height: 190px;
        left: 735px;
        top: 265px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 95px;
        letter-spacing: -0.035em;
        /* Gray 1 */
        color: #333333;
    }
    p {
        position: absolute;
        width: 381px;
        height: 108px;
        left: 736px;
        top: 491px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
    }
    .button {
        position: absolute;
        width: 216px;
        height: 68px;
        left: 740px;
        top: 663px;
        background: #333333;
        color: #FFFFFF;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
    }
}